<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="box">
      <h1>This is great</h1>
      <p>Welcome to templating using EJS</p>
      <h2>Variable</h2>
      <p><%= tagline %></p>
      </div>
    <article class="topUsers">
      <h2>reg users</h2>
  
        <ul>
          <% if (fafo.length === 0) { %>
            <li>No users found yet!</li>
          <% } else { %>
            <% for (let user of fafo) { %>
              <li class="user-card">
                <img src="<%= user.pfp %>" alt="Profile" width="50" style="border-radius: 50%;">
                
                <strong><%= user.username %></strong> 
                <span class="date">Joined: <%= user.created_at %></span>
              </li>
            <% } %>
          <% } %>
        </ul>
    </article>

</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>